::ng-deep{
    mat-form-field{
        width: 100%;
          .mdc-text-field--outlined{
              padding: 0px;
          }
          .mat-mdc-form-field-infix{
                width: 100%;
                padding: 0px !important;
                min-height: auto;
                
          }
          .mdc-text-field--outlined{
            --mdc-outlined-text-field-outline-width:0px;
          }
    }
    .cdk-overlay-container {
      z-index: 1200;
    }
    .mat-mdc-form-field-subscript-wrapper{
      display: none;
    }




.p-calendar {
    width: 100%;
}
.p-button-icon-only {
    background: #ff4c04;
    border: none;
    border-radius: 0px 5px 5px 0px;
}
.p-datepicker.p-component{
    min-width: auto !important;
    z-index: 99999 !important;
}

  
  }

