<div class="container">
  <form
    action=""
    [formGroup]="AdminUsr"
    (ngSubmit)="addUser()"
    *ngIf="showAddUser"
  >
    <div class="row">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="">{{ "server" | translate }}</label
              ><br />
              <mat-form-field appearance="outline" class="multi-select">
                <mat-label>Select Server</mat-label>
                <mat-select multiple formControlName="server_id">
                  <mat-option
                    *ngFor="let option of server_options"
                    [value]="option.id"
                  >
                    {{ option.server_url }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="
                  AdminUsr?.get('server_id')?.hasError('required') &&
                  AdminUsr?.get('server_id')?.touched
                "
              >
                <span class="error-message">{{
                  "server_required" | translate
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="">{{ "name" | translate }}</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                autocomplete="false"
              />
              <div
                *ngIf="
                  AdminUsr?.get('name')?.hasError('required') &&
                  AdminUsr?.get('name')?.touched
                "
              >
                <span class="error-message">{{
                  "name_required" | translate
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="">{{ "username" | translate }}</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                autocomplete="false"
              />
              <div
                *ngIf="
                  AdminUsr?.get('username')?.hasError('required') &&
                  AdminUsr?.get('username')?.touched
                "
              >
                <span class="error-message">{{
                  "username_required" | translate
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="">{{ "password" | translate }}</label>
              <input
                type="text"
                formControlName="password"
                class="form-control"
                autocomplete="false"
              />
              <div
                *ngIf="
                  AdminUsr?.get('password')?.hasError('required') &&
                  AdminUsr?.get('password')?.touched
                "
              >
                <span class="error-message">{{
                  "password_error" | translate
                }}</span>
              </div>
              <div *ngIf="AdminUsr?.get('password')?.hasError('minlength')">
                <span class="error-message">{{
                  "password_length_error" | translate
                }}</span>
              </div>
              <div *ngIf="AdminUsr?.get('password')?.hasError('pattern')">
                <span class="error-message">{{
                  "strong_password_error" | translate
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <input
                    type="submit"
                    class="btn btn-primary w-100"
                    value="{{ 'save' | translate }}"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <input
                    (click)="resetForm()"
                    type="button"
                    class="btn btn-warning w-100"
                    value="{{ 'reset' | translate }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="card tbl-card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-8">
              <h3 class="mb-0">{{ "admin_users_list" | translate }}</h3>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="d-flex justify-content-end">
                    <div class="search-container">
                      <input
                        class="search form-control"
                        type="search"
                        id="gsearch"
                        name="gsearch"
                        placeholder="Search"
                      />
                      <i class="fa fa-search"></i>
                    </div>
                    <button class="btn add_user_btn" (click)="addAdminUsr()">
                      {{ "add_admin_user" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table table-bordered mb-0">
              <thead>
                <tr>
                  <th>{{ "name" | translate }}</th>
                  <th>{{ "server_url" | translate }}</th>
                  <th>{{ "created_at" | translate }}</th>
                  <th>{{ "actions" | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="adminData">
                  <tr *ngFor="let data of adminData">
                    <td>{{ data.name }}</td>
                    <td>{{ getUrl(data.assigned_servers) }}</td>
                    <td>{{ data.created_at | date }}</td>
                    <td><button class="btn btn-warning btn-xs">{{ "edit" | translate}}</button> <button class="btn btn-warning btn-xs">{{ "delete" | translate}}</button></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
