    .add_user_btn{
    margin-left: 5px;
    background-color:#134aa0;
    color:white;
    }

.search-container {
    position: relative;
    display: inline-block;
  }
  
  .search {
    padding-left: 30px; 
    padding-right: 10px; 
    height: 38px;
  }
  
  .search-container i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: gray; 
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }
  .users_table{
    width: 100%;
  }
  .checkbox{
    margin-right: 15px;
    
  }
  ::ng-deep  {
    .p-component-overlay{
      background: #00000099;
    }
    .p-dialog-content{
      overflow-x: hidden;
    }
    .p-dialog-header span {
      font-size: 20px;
      margin-bottom: 15px;
    }
  .p-dialog {
    padding: 25px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px -4px rgba(16, 24, 40, 0.1), 4px 10px 40px 10px rgba(16, 24, 40, 0.1);
  }
}