<div class="card tbl-card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-8">
            <h3 class="mb-0">{{ 'sales_agent_list' | translate}}</h3>
          </div>
          <div class="col-lg-4">
            <div class="row ">
              <div class="col-lg-12">
                  <div class="search-container">
                      <input class="search" type="search" id="gsearch" name="gsearch" placeholder="{{'search'|translate}}">
                      <i class="fa fa-search"></i>
                   </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{ 'id' | translate}}</th>
                <th>{{ 'name' | translate}}</th>
                <th>{{ 'username' | translate}}</th>
                <th>{{ 'username' | translate}}</th>
                <th>{{ 'user_id' | translate}}</th>
                <th>{{ 'created_at' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agent of salesData">
                <td>{{ agent.id }}</td>
                <td>{{ agent.name }}</td>
                <td>{{ agent.username }}</td>
                <td>{{ agent.user_id  }}</td>
                <td>{{ agent.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>