
  
  .form-group label {
    margin-right: 10px;
  }
  
  .form-group mat-form-field {
    flex-grow: 1;
  }

::ng-deep{
  mat-form-field{
      width: 100%;
        .mdc-text-field--outlined{
            padding: 0px;
        }
        .mat-mdc-form-field-infix{
              width: 100%;
              padding: 0px !important;
              min-height: auto;
              
        }
        .mdc-text-field--outlined{
          --mdc-outlined-text-field-outline-width:0px;
        }
  }
  .cdk-overlay-container {
    z-index: 1200;
  }
  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
.w-full{
  width:100%;
}
.p-tree-wrapper .p-tree-container {
  padding-left: 0;
}
}