<div class="container">
    <div class="row">
        <form action="" [formGroup]="UserForm" (ngSubmit)="addSalesAgent()">

            <div class="col-lg-8">
                <div class="form-group">
                    <label for="">{{'users' | translate}}</label>
                    <select class="form-control" formControlName="user_id">
                        <option value="" disabled selected>{{'select_user_option' | translate}}</option>
                        <option *ngFor="let data of usersData" value="{{data.id}}">{{data.username}}</option>
                    </select>
                    <div *ngIf="
                        UserForm?.get('user_id')?.hasError('required') &&
                        UserForm?.get('user_id')?.touched">
                        <span class="error-message">{{'user_required' | translate}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="form-group">
                    <label for="">{{'imei' | translate}}</label>
                    <input type="text" class="form-control" formControlName="imei" [value]="imei_number" readonly>
                    <div *ngIf="
                        UserForm?.get('imei')?.hasError('required') &&
                        UserForm?.get('imei')?.touched">
                        <span class="error-message">{{'imei_requied' | translate}}</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-8">
                <div class="form-group">
                    <label for="">{{'name' | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'name' | translate}}" formControlName="name">
                    <div *ngIf="
                        UserForm?.get('name')?.hasError('required') &&
                        UserForm?.get('name')?.touched">
                        <span class="error-message">{{'name_required' | translate}}</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-8">
                <div class="form-group toogle">
                  <label for="" class="toggle-label">{{ 'are_you_sure_want_to_expires' | translate }}</label>
                  <mat-slide-toggle [(ngModel)]="expireStatus" formControlName="expire"></mat-slide-toggle>
                </div>
            </div>
              

            <div class="col-lg-8" *ngIf="expireStatus">
                <div class="form-group">
                  <label for="expire_date">{{'expire_date' | translate}}</label>
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="expire_date" [min]="today">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
            </div>


            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary w-100" value="{{ 'save' | translate}}">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input (click)="resetForm()" type="button" class="btn btn-warning w-100" value="{{ 'reset' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>