:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }
    
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    
        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
    
    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        input.form-control{
          padding-left: 43px;
          height: 40px;
        }
        .ti-search{
          margin-top: -13px;
        }
        h3{
          font-size: 20px;
          font-weight: 400;
        }
    }
    
    .p-calendar .p-datepicker {
        min-width: 25rem;
    
        td {
            font-weight: 400;
        }
    }
    
    .p-datatable.p-datatable-customers {
        .p-datatable-header {
          padding: 0;
          text-align: left;
          font-size: 1.5rem;
          background: #cf242400;
          border: none;
        }
    
        .p-paginator {
            padding: 1rem;
        }
    
        .p-datatable-thead > tr > th {
          text-align: left;
          font-weight: 400;
          font-size: 14px;
          font-family: "Poppins", serif;
          background: #ebf0fb;
        }
    
        .p-datatable-tbody > tr > td {
            cursor: auto;
            padding: 0.5rem 1rem;
            font-size: 14px;
        }
    
        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }
    
    /* Responsive */
    .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
  }
  
  @media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }
    
                .p-datatable-tbody > tr {
                    border-bottom: 1px solid var(--layer-2);
    
                    > td {
                        text-align: left;
                        display: block;
                        border: 0 none !important;
                        width: 100% !important;
                        float: left;
                        clear: left;
                        border: 0 none;
    
                        .p-column-title {
                            padding: .4rem;
                            min-width: 30%;
                            display: inline-block;
                            margin: -.4rem 1rem -.4rem -.4rem;
                            font-weight: bold;
                        }
    
                        .p-progressbar {
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }
  
  }
  
  .add_user_btn{
  margin-left: 5px;
  background-color:#134aa0;
  color:white;
  }
  ::ng-deep  {
    .p-component-overlay{
      background: #00000099;
    }
    .p-dialog-content{
      overflow-x: hidden;
    }
    .p-dialog-header span {
      font-size: 20px;
      margin-bottom: 15px;
    }
  .p-dialog {
    padding: 25px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px -4px rgba(16, 24, 40, 0.1), 4px 10px 40px 10px rgba(16, 24, 40, 0.1);
  }
  mat-form-field{
    width: 100%;
      .mdc-text-field--outlined{
          padding: 0px;
      }
      .mat-mdc-form-field-infix{
            width: 100%;
            padding: 0px !important;
            min-height: auto;
            
      }
      .mdc-text-field--outlined{
        --mdc-outlined-text-field-outline-width:0px;
      }
  }
  .cdk-overlay-container {
  z-index: 1200;
  }
  .mat-mdc-form-field-subscript-wrapper{
  display: none;
  }
  
  }