
<div class="container">
    <form action="" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-7">
            <div class="row">

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="">{{ "new_password" | translate }}</label>
                  <input type="password" formControlName="newpassword" class="form-control" autocomplete="false" />
                  <div *ngIf="
                        changePasswordForm?.get('newpassword')?.hasError('required') &&
                        changePasswordForm?.get('newpassword')?.touched
                    ">
                    <span class="error-message">{{
                      "new_password_required" | translate
                      }}</span>
                  </div>
                  <div *ngIf="
                  changePasswordForm?.get('newpassword')?.hasError('minlength')">
                      <span class="error-message">{{ 'password_length_error' | translate}}</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="">{{ "confirm_new_password" | translate }}</label>
                  <input type="password" formControlName="confirmpassword" class="form-control" autocomplete="false" />
                  <div *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm?.get('confirmpassword')?.touched">
                    <span class="error-message">{{ 'passwords_do_not_match' | translate}}</span> 
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                    <div class="d-flex gap-2 from-button">
                        <input type="submit" class="btn btn-primary" value="{{ 'save' | translate}}">
                        <input (click)="resetForm()" type="button" class="btn btn-warning" value="{{ 'reset' | translate}}">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </form>
</div>