<p-table #dt [value]="pendingPois" dataKey="id" styleClass="p-datatable-customers"
  [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['name','description','lat','lng','status']">
  <ng-template pTemplate="caption">
      <div class="table-header mb-4">
          <h3>{{ 'pois_pending_list' | translate}}</h3>
          <div>
            <span class="p-input-icon-left">
              <i class="ti ti-search"></i>
              <input class="form-control" InputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="{{'global_search'|translate}}" />
          </span>
          </div>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="name">{{ "name" | translate }} <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="description">{{ "description" | translate }} <p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="lat">{{ "lat" | translate }} <p-sortIcon field="lat"></p-sortIcon></th>
          <th pSortableColumn="lng">{{ "lng" | translate }} <p-sortIcon field="lng"></p-sortIcon></th>
          <th>{{ "actions" | translate }}</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
      <tr class="p-selectable-row">
          <td>{{data.name}}</td>
          <td>{{data.description}}</td>
          <td>{{getLat(data.coordinates)}}</td>
          <td>{{getLng(data.coordinates)}}</td>
          <td>
            <!-- <i (click)="confirmPoiAction(data.id,'approved')" class="fa-solid fa-check fa-2x"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;<i (click)="confirmPoiAction(data.id,'reject')" class="fa-solid fa-xmark fa-2x"></i> -->
            <button class="btn editbtn" (click)="confirmPoiAction(data.id,'approved')"><i class="fa-solid fa-check"></i></button>
            <button class="btn editbtn" (click)="confirmPoiAction(data.id,'reject')"><i class="fa-solid fa-xmark"></i></button>
            <button class="btn editbtn" (click)="openEditDialog(data)"><i class="fa-solid fa-pen"></i></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="5">{{"no_data_record" | translate }}.</td>
      </tr>
  </ng-template>
</p-table>
<p-dialog id="dialog" header="{{ 'edit' | translate }}" [(visible)]="visible" [style]="{ width: '32vw' }"
[modal]="true">
<form action="" [formGroup]="poiEditForm" (ngSubmit)="EditPoi()">
<div class="row">
   <div class="col-lg-12">
      <div class="form-group">
         <label for="name">{{ "name" | translate }}</label>
         <input type="text" formControlName="name" class="form-control" autocomplete="false" />
         <div *ngIf="poiEditForm?.get('name')?.hasError('required') && poiEditForm?.get('name')?.touched">
            <span class="error-message">{{ "username_required" | translate }}</span>
         </div>
      </div>
   </div>
   <div class="col-lg-12">
      <div class="form-group">
         <label for="description">{{ "description" | translate }}</label>
         <input type="text" formControlName="description" class="form-control" autocomplete="false" />
         <div
            *ngIf="poiEditForm?.get('description')?.hasError('required') && poiEditForm?.get('description')?.touched">
            <span class="error-message">{{ "description_required" | translate }}</span>
         </div>
      </div>
   </div>
</div>
<!-- Submit and Cancel buttons (optional) -->
<div class="d-flex gap-2 from-button mt-4">
   <input type="submit" class="btn orange-btn" value="{{ 'save' | translate }}">
</div>
</form>
</p-dialog>