<div class="container">
  <form [formGroup]="groupForm" (ngSubmit)="addGroups()" *ngIf="showgroup">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="name">{{ 'name' | translate }}</label>
          <input id="name" formControlName="name" class="form-control" />
          <div *ngIf="groupForm.get('name').invalid && groupForm.get('name').touched" class="error-message">
            {{ 'name_required' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="description">{{ 'description' | translate }}</label>
          <textarea id="description" formControlName="description" class="form-control"></textarea>
          <div *ngIf="groupForm.get('description').invalid && groupForm.get('description').touched"
            class="error-message">
            {{ 'description_required' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="startDate">{{ 'start_date' | translate }}</label>
          <mat-form-field appearance="fill" class="full-width">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" [min]="today" />
            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="groupForm.get('startDate').invalid && groupForm.get('startDate').touched" class="error-message">
            {{ 'start_date_required' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="endDate">{{ 'end_date' | translate }}</label>
          <mat-form-field appearance="fill" class="full-width">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" [min]="today" />
            <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="groupForm.get('endDate').invalid && groupForm.get('endDate').touched" class="error-message">
            {{ 'end_date_required' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <div class="d-flex gap-2 from-button">
          <input type="submit" class="btn btn-primary" value="{{ 'save' | translate }}">
          <input (click)="resetForm()" type="button" class="btn btn-warning" value="{{ 'reset' | translate }}">
        </div>
      </div>
    </div>
  </form>
</div>
<p-table #dt [value]="usersData" dataKey="id" styleClass="p-datatable-customers"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="{{'showing_first_to_last_of_totalRecords_entries'| translate }}Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','description','start_date','end_date']">
    <ng-template pTemplate="caption">
        <div class="table-header mb-4">
            <h3>{{ 'group_list' | translate}}</h3>
            <div>
              <span class="p-input-icon-left">
                <i class="ti ti-search"></i>
                <input class="form-control" InputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="{{'global_search'|translate}}" />
            </span>
                <button class="btn add_user_btn" (click)="addUserForm()">{{"add_groups_user" | translate }}</button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">{{ "name" | translate }} <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="description">{{ "description" | translate }} <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="start_date">{{ "start_date" | translate }} <p-sortIcon field="start_date"></p-sortIcon></th>
            <th pSortableColumn="end_date">{{ "end_date" | translate }} <p-sortIcon field="end_date"></p-sortIcon></th>
            <th>{{ "actions" | translate }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr class="p-selectable-row">
            <td>{{data.name}}</td>
            <td>{{data.description}}</td>
            <td>{{data.start_date | date}}</td>
            <td>{{data.end_date | date}}</td>
            <td>
                <button class="btn btn-warning btn-xs me-3" (click)="openEditDialog(data)">{{ "edit" | translate}}</button>
                <button class="btn btn-warning btn-xs me-3" (click)="deleteRecords(data)">{{ "delete" | translate}}</button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{"no_found_record" | translate }}.</td>
        </tr>
    </ng-template>
</p-table>
<p-dialog id="dialog" header="{{ 'edit' | translate }}" [(visible)]="visible" [style]="{ width: '60vw' }" [modal]="true">
  <form action="" [formGroup]="groupEditForm" (ngSubmit)="EditGroupUser()">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="name">{{ "name" | translate }}</label>
              <input type="text" formControlName="name" class="form-control" autocomplete="false" />
              <div *ngIf="groupEditForm?.get('name')?.hasError('required') && groupEditForm?.get('name')?.touched">
                <span class="error-message">{{ "username_required" | translate }}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <label for="description">{{ "description" | translate }}</label>
              <input type="text" formControlName="description" class="form-control" autocomplete="false" />
              <div *ngIf="groupEditForm?.get('description')?.hasError('required') && groupEditForm?.get('description')?.touched">
                <span class="error-message">{{ "description_required" | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit and Cancel buttons (optional) -->
    <div class="d-flex gap-2 from-button">
      <input type="submit" class="btn btn-primary" value="{{ 'save' | translate }}">
      <input (click)="resetEditForm()" type="button" class="btn btn-warning" value="{{ 'reset' | translate }}">
    </div>
  </form>
</p-dialog>




