<div class="container">
    <form action="" [formGroup]="UserForm" (ngSubmit)="addUser()">
    <div class="row">
        <div class="col-lg-7">
            <div class="row">


            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">{{'server_url' | translate}}</label>
                    <input type="text" formControlName="site_url" class="form-control" autocomplete="false">
                    <div *ngIf="
                        UserForm?.get('site_url')?.hasError('required') &&
                        UserForm?.get('site_url')?.touched">
                        <span class="error-message">{{'server_url_required' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">{{'username' | translate}}</label>
                    <input type="text" class="form-control" formControlName="username">
                    <div *ngIf="
                        UserForm?.get('username')?.hasError('required') &&
                        UserForm?.get('username')?.touched">
                        <span class="error-message">{{'username_required' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">{{'password' | translate}}</label>
                            <input type="password" class="form-control" formControlName="password">
                            <div *ngIf="
                                UserForm?.get('password')?.hasError('required') &&
                                UserForm?.get('password')?.touched">
                                <span class="error-message">{{ 'password_error' | translate}}</span>
                            </div>
                            <div *ngIf="
                                UserForm?.get('password')?.hasError('minlength')">
                                <span class="error-message">{{ 'password_length_error' | translate}}</span>
                            </div>
                            <div *ngIf="
                                UserForm?.get('password')?.hasError('pattern')">
                                <span class="error-message">{{ 'strong_password_error' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">{{ 'mobile_number' | translate}}</label>
                            <input type="text" class="form-control" formControlName="mobile_number" maxlength="12">
                            <div *ngIf="
                                UserForm?.get('mobile_number')?.hasError('required') &&
                                UserForm?.get('mobile_number')?.touched">
                                <span class="error-message">{{'mobile_required' | translate}}</span>
                            </div>
                            <div *ngIf="
                                UserForm?.get('mobile_number')?.hasError('pattern')">
                                <span class="error-message">{{'mobile_length_required' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">{{ 'api_key' | translate}}</label>
                    <input type="text" formControlName="api_key" class="form-control" autocomplete="false">
                    <div *ngIf="
                        UserForm?.get('api_key')?.hasError('required') &&
                        UserForm?.get('api_key')?.touched">
                        <span class="error-message">{{ 'api_key_required' | translate}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">{{ 'address' | translate}}</label>
                    <textarea class="form-control" formControlName="address"></textarea>
                    <div *ngIf="
                        UserForm?.get('address')?.hasError('required') &&
                        UserForm?.get('address')?.touched">
                        <span class="error-message">{{ 'address_required' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary w-100" value="{{ 'save' | translate}}">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input (click)="resetForm()" type="button" class="btn btn-warning w-100" value="{{ 'reset' | translate}}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>
</form>
</div>